In [13]:
#L is for LIST and LARGE BRACKET

List=  ["a","b",1.25,True, 50]

#index   0   1    2   

#or Alternatively 

#Index -5, -4, -3,-2,-1

In [14]:
List

['a', 'b', 1.25, True, 50]

In [15]:
print(List [4])
List [-1]

50

50

In [16]:
List [0]

'a'

In [17]:
len (List)

5

In [18]:
fruits=["apple","banana"]

In [19]:
fruits.append("orange")

In [20]:
fruits.append ("blueberry")

In [21]:
fruits

['apple', 'banana', 'orange', 'blueberry']

In [22]:
# Insert is used to append a new item on desired index position 

fruits.insert (3,"cherry")

In [28]:
fruits

['apple',
 'banana',
 'orange',
 'cherry',
 'blueberry',
 'avocado',
 'melon',
 'apple',
 'avocado',
 'melon',
 'apple']

In [26]:
fruits.extend (["avocado","melon","apple"])
#for multiple appends, extend function is used, the items must be iteratible (multiple addition)

In [27]:
fruits

['apple',
 'banana',
 'orange',
 'cherry',
 'blueberry',
 'avocado',
 'melon',
 'apple',
 'avocado',
 'melon',
 'apple']

In [29]:
fruits.count ("apple")

3

In [30]:
fruits.index("apple") # if there are multiple apples in a list, then index of first apple will be fetched

0

In [29]:
fruits2=fruits.copy()
#its by value copy - that is actual values are copied in friuts2 list - now fruit2 list is an independent list
fruits2

['apple',
 'banana',
 'orange',
 'cherry',
 'blueberry',
 'cherry',
 'avocado',
 'melon',
 'avocado',
 'melon',
 'apple']

In [31]:
fruits3=fruits 
#its by reference copy - that is same values are present in fruits, fruits3 will refer to fruits list- 
#any change in fruits3 will impact fruits list

fruits.append("pineapple") 

fruits3

['apple',
 'banana',
 'orange',
 'cherry',
 'blueberry',
 'avocado',
 'melon',
 'apple',
 'avocado',
 'melon',
 'apple',
 'pineapple']

In [32]:
fruits2 #since fruits2 is not refering to fruits , therefore pineapple is not appended in fruits2

['apple',
 'banana',
 'orange',
 'cherry',
 'blueberry',
 'cherry',
 'avocado',
 'melon',
 'avocado',
 'melon',
 'apple']

In [32]:
#removing an item from the list

del fruits2 [2]
fruits2 #orange is removed from the list

NameError: name 'fruits2' is not defined

In [ ]:
fruits.remove ("pineapple") #removing item by its name

In [36]:
fruits

['apple',
 'banana',
 'orange',
 'cherry',
 'blueberry',
 'cherry',
 'avocado',
 'melon',
 'avocado',
 'melon',
 'apple']

In [4]:
cities =["KHI","HYD","SUK","QTA"]

In [5]:
cities

['KHI', 'HYD', 'SUK', 'QTA']

In [6]:
PoppedCity=cities.pop() # on last in first out basis, item from the list is removed by default. 
#however, index can also be provided as aurgument 
PoppedCity

'QTA'

In [7]:
cities

['KHI', 'HYD', 'SUK']

In [9]:
print (f"The Popped City is {PoppedCity}")
#note that F is used with the print function - right before inverted commas - no space
#so a variable is embedded in the string

The Popped City is QTA

In [56]:
PoppedCity=cities.pop (0) # index is provived in Pop function

In [57]:
PoppedCity

'KHI'

In [9]:
cities =["KHI","HYD","SUK","QTA"]

In [10]:
cities

['KHI', 'HYD', 'SUK', 'QTA']

In [11]:
cities.sort #by default it is sorted by ascending order, reverse is false by default 
cities

['KHI', 'HYD', 'SUK', 'QTA']

In [12]:
cities.sort (reverse=False) # reverse = false for Ascending Order and True for decending order
cities

['HYD', 'KHI', 'QTA', 'SUK']

In [6]:
# we press shift tab to see signatures of a function 

cities.clear () # it removes all items from the list

In [67]:
cities

[]

In [33]:
cities =["KHI","HYD","SUK","QTA"]

In [34]:
print ("KHI" in  cities)

#"in" operator is used to find a value in the list, it returns true if value is found else return false

True

In [35]:
"JCD" in cities

False

# Slicing elements from the list 
#means getting parital piece of the list-  finding more than one item from the list

In [14]:
cities =["KHI","HYD","SUK","QTA","JCD","MUL","LHR", "GUJ"]

In [15]:
print (cities[0:3]) # item at 0 will be included in partial list however item at 3 will not be included 
                    #that is items starting from 0 till 2 are fetched

['KHI', 'HYD', 'SUK']

In [18]:
print (cities[-5])  

#list has another style of indexing available where -1 number is given to last item of list,
#and then -2 to previous number and so on

QTA

In [17]:
print (cities[-7])

HYD

In [82]:
print (cities[3:])  #3 onwards index elements are fetched

['QTA', 'JCD', 'MUL', 'LHR', 'GUJ']

In [83]:
print (cities[:3])  # from zero till 3 index elements are fetched

['KHI', 'HYD', 'SUK']

In [88]:
cities

['KHI', 'HYD', 'SUK', 'QTA', 'JCD', 'MUL', 'LHR', 'GUJ']

In [87]:

cities [0::2] #fetch items starting from zero, till end, with 2 steps - that is item at every 2nd step will be fetched

['KHI', 'SUK', 'JCD', 'LHR']

# TUPLE

#this works like a list but it is immutable that is elements of a Tuple cannot be added, edited or deleted once defined/ instance created
#Tuples are sequences, just like lists.

In [15]:
aTuple=("ishtiaq",42,"6.2") #Tuple can be created even without brackets
bTuple="ishtiaq",42,"6.21"

print (aTuple)
print (bTuple)

('ishtiaq', 42, '6.2')
('ishtiaq', 42, '6.21')

In [3]:
del bTuple

In [7]:
len (aTuple)

3

In [8]:
aTuple[1]

42

In [12]:
aTuple.index ("ishtiaq")

0

In [13]:
aTuple.remove [1] #error/exception is popped up - as Tuple cannot be changed

AttributeError: 'tuple' object has no attribute 'remove'

In [21]:
ListA=[11,2,23]
ListB=[11,2,2]

if ListA>ListB:
    print("hi")

hi

In [23]:
str="hello"
str[:3]

'hel'

In [13]:
lista=[1,2,3,4] 

print(lista[-3:-2])

[2]

In [15]:
sentence="my name is Ishtiaq"
for i in sentence.split(): #stringa is divided into multiple words - every seperate word, referenced here by "i" is printed 
    print (i,end=",")

my,name,is,Ishtiaq,

In [29]:
a=16
d=5
(a//d) #// is floor division - result down to the nearest whole number

3

In [30]:
x=1/2.0+3//3+4**1

In [31]:
print (x)

5.5

In [32]:
4**1

4

In [24]:
d1={"john":40,"peter":45}

d2={"john":466,"peter":45}

d1==d2

False

In [52]:
d={"john":40,"peter":45}

d2={"john":466,"peter":45}

print(d["john"])

40

In [35]:
a-=1

In [38]:
_=1

In [39]:
print(_)

1

In [48]:
s1=[3,4]
s2=[1,2]
s3=list()

i=0
j=0
for i in s1:
    for j in s2:
        s3.append((i,j))
        i+=1
        j+=1
        
print (s3)

[(3, 1), (4, 2), (4, 1), (5, 2)]

In [49]:
_str_=12

In [50]:
_a=1

In [57]:
a={}
a[1]=1

a['1']=2

a[1]=a[1]+1

count=0

for i in a:
    count+=a[i]
    

print (count)

4

In [29]:
name=["amir","bwar","chartom","dann"]

print(name[-1][-1])

n

In [63]:
a={1:5,2:3,3:4}


a.pop(3)

print (a)

{1: 5, 2: 3}

In [65]:
numbers={}

letters={}

comb={}


numbers[1]=56
numbers[3]=7

letters[4]="b"


comb["numbers"]=numbers

comb["letters"]=letters

print (comb)

{'numbers': {1: 56, 3: 7}, 'letters': {4: 'b'}}

In [42]:
a=15
b=5
(a%b)  #% is modulus - returns the remainder

0

In [46]:
_=1

print(_)

1