# LOOPS

In [2]:
Cities=["KHI","HYD","SUK","JCD","QTA","MUL","GUJ","LHR","ISB"]

for City in Cities:
    print (City) #the intended block was missing here,so this code initially was promtping errors until it was intented  
    if City =="MUL":
        break  # the loop will be terminated when the city Multan is found

KHI
HYD
SUK
JCD
QTA
MUL

In [7]:
#Continue keyword: this will skip that particular action on that iteration and go to next element of the loop

for City in Cities:
    if City=="QTA": #this will skip printing of QTA
        continue    #this is IF block
    print (City)    #this is ELSE block

KHI
HYD
SUK
JCD
MUL
GUJ
LHR
ISB

In [18]:
for a in range (5,):#this function create a  range of 5 numbers in created, from 0 to 4
    
    print(a,"Ishtiaq" + str(a)) #str convert number into string

0 Ishtiaq0
1 Ishtiaq1
2 Ishtiaq2
3 Ishtiaq3
4 Ishtiaq4

In [5]:
for a in range (10,2,-2):#range from 10 to 2 number is created with -2 decrease in number
    print(a,"Ishtiaq" + str(a)) #str convert number into string

10 Ishtiaq10
8 Ishtiaq8
6 Ishtiaq6
4 Ishtiaq4

# NESTED FOR LOOP

In [4]:
#press shift enter for above heading

for a in range(5):
    print (str(a)+ " inner loop begins")
    for char in "PAKISTAN":
        print (a,"",char)

0 inner loop begings
0  P
0  A
0  K
0  I
0  S
0  T
0  A
0  N
1 inner loop begings
1  P
1  A
1  K
1  I
1  S
1  T
1  A
1  N
2 inner loop begings
2  P
2  A
2  K
2  I
2  S
2  T
2  A
2  N
3 inner loop begings
3  P
3  A
3  K
3  I
3  S
3  T
3  A
3  N
4 inner loop begings
4  P
4  A
4  K
4  I
4  S
4  T
4  A
4  N

# GET INPUT AND PRINT RELATED TABLE

In [7]:
TableNumber = int(input("Enter Table Number"))

#print fucntion is used in two different ways for same output


for a in range(1,11): print (TableNumber,"x",a,"=",a*TableNumber,sep=' ' )
    
    
for a in range(1,11):
    print(f"{TableNumber}  *   {a} =  {TableNumber*a}")

Enter Table Number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2  *   1 =  2
2  *   2 =  4
2  *   3 =  6
2  *   4 =  8
2  *   5 =  10
2  *   6 =  12
2  *   7 =  14
2  *   8 =  16
2  *   9 =  18
2  *   10 =  20

# GENERATE RANGE OF TABLES - NESTED FOR LOOP

In [8]:
TableRangeFrom=int(input("Enter Range of Tables: Generate Table from Number:"))

TableRangeTo=int(input("Generate Table till Number: "))


for Table in range(TableRangeFrom,TableRangeTo+1):
    for a in range(1,11):
        print(f"{Table} * {a} = {Table*a}")

    #   print(Table)

Enter Range of Tables: Generate Table from Number:2
Generate Table till Number: 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Type Casting

In [37]:
#change in data type

a=int(input("Enter a Number"))
type(a)

Enter a Number5

int

# Changing Case

In [41]:
Sentence="i aM LedgEnd"

#here sentence is a string and it is also treated as an object in OOPL 
#therefore we perform actions on that object

Sentence.upper() 

#Other functions of a string change-casing str.lower(), str.title()

'I AM LEDGEND'

[2]