In [318]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras 
import seaborn as sns
import os
from datetime import datetime 
import warnings
%matplotlib inline 

warnings.filterwarnings("ignore")

In [319]:
os.getcwd()

'd:\\AI Local\\practice_projects\\project_files'

In [320]:
dfStock=pd.read_csv('data\\all_stocks_5yr.csv',delimiter=',',on_bad_lines='skip')

In [321]:
dfStock.head(5
             )

         date   open   high    low  close    volume Name
0  08/02/2013  15.07  15.12  14.63  14.75   8407500  AAL
1  11/02/2013  14.89  15.01  14.26  14.46   8882000  AAL
2  12/02/2013  14.45  14.51  14.10  14.27   8126000  AAL
3  13/02/2013  14.30  14.94  14.25  14.66  10259500  AAL
4  14/02/2013  14.94  14.96  13.16  13.99  31879900  AAL

In [322]:
dfStock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  object
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB

In [408]:
print(dfStock.shape),len(dfStock),dfStock.isna().sum()

(619040, 7)

(None,
 619040,
 date       0
 open      11
 high       8
 low        8
 close      0
 volume     0
 Name       0
 dtype: int64)

In [416]:
#df.date.max(),df.date.min(),len(df)
dfStock['date'] = pd.to_datetime(dfStock['date'],dayfirst=True,format="dd/MM/yyyy")
                              
dfStock.info()
#df['new_date'] = pd.to_datetime(df['date'])

#df("new_date")=pd.to_datetime(df['date']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  datetime64[ns]
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 33.1+ MB

In [418]:
dfStock.head()

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [419]:
df=dfStock[(dfStock['Name']=='AAL') & (dfStock['open'] >50 )]

df

           date    open   high    low  close    volume Name
460  2014-12-05  50.090  51.75  50.01  51.01  15588179  AAL
461  2014-12-08  50.440  51.32  50.15  50.82  16167321  AAL
465  2014-12-12  51.675  51.70  49.90  49.97  15364034  AAL
466  2014-12-15  50.210  51.32  49.32  50.84  15368535  AAL
467  2014-12-16  51.010  51.15  47.68  47.96  22053666  AAL
...         ...     ...    ...    ...    ...       ...  ...
1253 2018-01-31  53.080  54.71  53.00  54.32   5962937  AAL
1254 2018-02-01  54.000  54.64  53.59  53.88   3623078  AAL
1255 2018-02-02  53.490  53.99  52.03  52.10   5109361  AAL
1256 2018-02-05  51.990  52.39  49.75  49.76   6878284  AAL
1258 2018-02-07  50.910  51.98  50.89  51.40   4845831  AAL

[140 rows x 7 columns]

In [420]:
print(df.describe())
df.info()

                                date        open        high         low  \
count                            140  140.000000  140.000000  140.000000
mean   2016-10-15 15:15:25.714285824   52.416357   53.017079   51.635047
min              2014-12-05 00:00:00   50.090000   50.220000   47.660000
25%              2015-03-17 18:00:00   50.992500   51.642500   50.290000
50%              2017-07-20 12:00:00   52.065000   52.680000   51.480000
75%              2017-12-14 06:00:00   53.275000   53.902500   52.435000
max              2018-02-07 00:00:00   58.790000   59.080000   57.800000
std                              NaN    1.853978    1.895723    2.009755

            close        volume
count  140.000000  1.400000e+02
mean    52.250179  9.207910e+06
min     47.960000  1.845331e+06
25%     50.835000  4.055861e+06
50%     52.030000  6.949853e+06
75%     53.042500  1.113223e+07
max     58.470000  1.377672e+08
std      2.090332  1.233985e+07
<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 460 to 1258
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    140 non-null    datetime64[ns]
 1   open    140 non-null    float64
 2   high    140 non-null    float64
 3   low     140 non-null    float64
 4   close   140 non-null    float64
 5   volume  140 non-null    int64
 6   Name    140 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 8.8+ KB

In [326]:
dfStock.groupby('Name').describe().T

Name                     A           AAL           AAP          AAPL  \
open   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   4.918786e+01  3.839050e+01  1.324396e+02  1.090554e+02
       std    9.244798e+00  1.096709e+01  3.126963e+01  3.054922e+01
       min    3.318000e+01  1.314000e+01  7.604000e+01  5.542420e+01
       25%    4.151500e+01  3.420500e+01  1.040700e+02  8.464780e+01
       50%    4.664000e+01  4.093000e+01  1.411500e+02  1.089700e+02
       75%    5.643500e+01  4.656500e+01  1.569800e+02  1.273350e+02
       max    7.448000e+01  5.879000e+01  2.012400e+02  1.793700e+02
high   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   4.960006e+01  3.895555e+01  1.338183e+02  1.099511e+02
       std    9.264168e+00  1.107365e+01  3.154581e+01  3.068619e+01
       min    3.406000e+01  1.342000e+01  7.666000e+01  5.708570e+01
       25%    4.187000e+01  3.493000e+01  1.057250e+02  8.533495e+01
       50%    4.700000e+01  4.142950e+01  1.430000e+02  1.100300e+02
       75%    5.693500e+01  4.718750e+01  1.582700e+02  1.281000e+02
       max    7.500000e+01  5.908000e+01  2.012400e+02  1.801000e+02
low    count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   4.878203e+01  3.782561e+01  1.310360e+02  1.081416e+02
       std    9.197698e+00  1.084365e+01  3.096841e+01  3.037622e+01
       min    3.311500e+01  1.270000e+01  7.562300e+01  5.501420e+01
       25%    4.126000e+01  3.369000e+01  1.022600e+02  8.425065e+01
       50%    4.634100e+01  4.020990e+01  1.394050e+02  1.080500e+02
       75%    5.602500e+01  4.599000e+01  1.553200e+02  1.262900e+02
       max    7.430000e+01  5.780000e+01  1.981600e+02  1.782500e+02
close  count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   4.920203e+01  3.839325e+01  1.324335e+02  1.090667e+02
       std    9.229804e+00  1.095764e+01  3.127446e+01  3.055681e+01
       min    3.337000e+01  1.302000e+01  7.618000e+01  5.578990e+01
       25%    4.156000e+01  3.433000e+01  1.044400e+02  8.483065e+01
       50%    4.670000e+01  4.087000e+01  1.413000e+02  1.090100e+02
       75%    5.649500e+01  4.653500e+01  1.567300e+02  1.271200e+02
       max    7.482000e+01  5.847000e+01  2.003800e+02  1.792600e+02
volume count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   2.338039e+06  9.390321e+06  1.078043e+06  5.404790e+07
       std    1.400161e+06  6.899305e+06  1.019365e+06  3.346835e+07
       min    5.328630e+05  1.352400e+06  1.307120e+05  1.147592e+07
       25%    1.533018e+06  5.696393e+06  6.182010e+05  2.969438e+07
       50%    2.003109e+06  8.111323e+06  8.491350e+05  4.566893e+07
       75%    2.718401e+06  1.118854e+07  1.219762e+06  6.870872e+07
       max    1.814641e+07  1.377672e+08  1.974952e+07  2.668336e+08

Name                  ABBV           ABC           ABT           ACN  \
open   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   6.080280e+01  8.206643e+01  4.292476e+01  1.010228e+02
       std    1.366393e+01  1.633399e+01  5.860552e+00  2.210509e+01
       min    3.505000e+01  4.638000e+01  3.301000e+01  7.058000e+01
       25%    5.268000e+01  7.059500e+01  3.848000e+01  8.068000e+01
       50%    6.004000e+01  8.255000e+01  4.229000e+01  9.780000e+01
       75%    6.572000e+01  9.249500e+01  4.577000e+01  1.170200e+02
       max    1.215000e+02  1.173900e+02  6.318000e+01  1.623300e+02
high   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   6.147413e+01  8.278177e+01  4.325871e+01  1.017664e+02
       std    1.385981e+01  1.647889e+01  5.884844e+00  2.220699e+01
       min    3.557000e+01  4.662000e+01  3.339000e+01  7.075000e+01
       25%    5.320000e+01  7.095000e+01  3.879000e+01  8.133000e+01
       50%    6.087000e+01  8.344000e+01  4.254000e+01  9.879000e+01
       75%    6.623500e+01  9.337000e+01  4.610500e+01  1.179900e+02
       max    1.258600e+02  1.206800e+02  6.460000e+01  1.626000e+02
low    count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   6.017727e+01  8.134989e+01  4.260102e+01  1.003482e+02
       std    1.355129e+01  1.615348e+01  5.832699e+00  2.199971e+01
       min    3.501000e+01  4.608000e+01  3.270000e+01  6.900000e+01
       25%    5.203500e+01  7.012500e+01  3.814000e+01  8.016500e+01
       50%    5.939000e+01  8.142000e+01  4.195000e+01  9.692000e+01
       75%    6.520500e+01  9.168500e+01  4.540000e+01  1.162500e+02
       max    1.189800e+02  1.147500e+02  6.285000e+01  1.609700e+02
close  count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   6.086444e+01  8.209298e+01  4.294033e+01  1.011191e+02
       std    1.373038e+01  1.631569e+01  5.860169e+00  2.212903e+01
       min    3.527000e+01  4.618000e+01  3.293000e+01  7.028000e+01
       25%    5.265000e+01  7.052500e+01  3.847500e+01  8.067000e+01
       50%    6.017000e+01  8.256000e+01  4.230000e+01  9.777000e+01
       75%    6.574500e+01  9.252000e+01  4.578500e+01  1.170450e+02
       max    1.232100e+02  1.154800e+02  6.342000e+01  1.625500e+02
volume count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   7.870683e+06  2.005738e+06  6.964037e+06  2.596238e+06
       std    5.746644e+06  1.124651e+06  3.500368e+06  1.353507e+06
       min    1.747000e+06  3.932790e+05  1.462895e+06  6.018180e+05
       25%    4.877665e+06  1.341366e+06  4.808964e+06  1.879082e+06
       50%    6.707435e+06  1.762397e+06  6.315404e+06  2.328702e+06
       75%    9.309264e+06  2.361994e+06  8.215464e+06  2.972384e+06
       max    1.227409e+08  1.707164e+07  5.452766e+07  2.828439e+07

Name                  ADBE           ADI  ...            XL          XLNX  \
open   count  1.259000e+03  1.259000e+03  ...  1.259000e+03  1.259000e+03
       mean   9.038761e+01  6.092858e+01  ...  3.530231e+01  4.981932e+01
       std    3.696456e+01  1.340345e+01  ...  3.873781e+00  9.543072e+00
       min    3.814000e+01  4.220000e+01  ...  2.796000e+01  3.562000e+01
       25%    6.599500e+01  5.032000e+01  ...  3.214000e+01  4.326500e+01
       50%    8.053000e+01  5.691000e+01  ...  3.499000e+01  4.678000e+01
       75%    1.057950e+02  6.790500e+01  ...  3.773000e+01  5.410500e+01
       max    2.022900e+02  9.764000e+01  ...  4.710000e+01  7.700000e+01
high   count  1.259000e+03  1.259000e+03  ...  1.259000e+03  1.259000e+03
       mean   9.118988e+01  6.147025e+01  ...  3.557812e+01  5.027084e+01
       std    3.723714e+01  1.350484e+01  ...  3.914251e+00  9.591475e+00
       min    3.866000e+01  4.269000e+01  ...  2.815000e+01  3.590000e+01
       25%    6.664750e+01  5.069500e+01  ...  3.237500e+01  4.369000e+01
       50%    8.151000e+01  5.756000e+01  ...  3.533000e+01  4.718000e+01
       75%    1.066350e+02  6.846500e+01  ...  3.803500e+01  5.451500e+01
       max    2.044500e+02  9.838000e+01  ...  4.727000e+01  7.726000e+01
low    count  1.259000e+03  1.259000e+03  ...  1.259000e+03  1.259000e+03
       mean   8.957862e+01  6.034129e+01  ...  3.501782e+01  4.935951e+01
       std    3.665465e+01  1.326848e+01  ...  3.922888e+00  9.441895e+00
       min    3.809000e+01  4.181000e+01  ...  5.400000e+00  3.498000e+01
       25%    6.509000e+01  4.987000e+01  ...  3.197000e+01  4.284000e+01
       50%    7.973000e+01  5.648000e+01  ...  3.458000e+01  4.643500e+01
       75%    1.047400e+02  6.733500e+01  ...  3.747000e+01  5.366000e+01
       max    1.994400e+02  9.614000e+01  ...  4.628000e+01  7.587000e+01
close  count  1.259000e+03  1.259000e+03  ...  1.259000e+03  1.259000e+03
       mean   9.045816e+01  6.093193e+01  ...  3.531510e+01  4.983347e+01
       std    3.699777e+01  1.338363e+01  ...  3.874693e+00  9.517797e+00
       min    3.811000e+01  4.234000e+01  ...  2.796000e+01  3.551000e+01
       25%    6.586500e+01  5.027250e+01  ...  3.217500e+01  4.322250e+01
       50%    8.059000e+01  5.693000e+01  ...  3.501000e+01  4.686000e+01
       75%    1.057100e+02  6.789500e+01  ...  3.777000e+01  5.406000e+01
       max    2.013000e+02  9.724000e+01  ...  4.666000e+01  7.630000e+01
volume count  1.259000e+03  1.259000e+03  ...  1.259000e+03  1.259000e+03
       mean   2.998134e+06  2.451738e+06  ...  2.228249e+06  3.057583e+06
       std    1.792591e+06  1.391643e+06  ...  1.347399e+06  1.919534e+06
       min    6.025050e+05  5.363150e+05  ...  3.891480e+05  4.266840e+05
       25%    1.874940e+06  1.663054e+06  ...  1.439784e+06  2.037072e+06
       50%    2.556459e+06  2.120780e+06  ...  1.943943e+06  2.632047e+06
       75%    3.537395e+06  2.801016e+06  ...  2.605716e+06  3.548484e+06
       max    1.642400e+07  1.496296e+07  ...  2.210172e+07  3.303136e+07

Name                   XOM          XRAY           XRX           XYL  \
open   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   8.765260e+01  5.379490e+01  4.048831e+01  4.141547e+01
       std    6.961189e+00  7.610023e+00  7.934582e+00  1.131008e+01
       min    6.799000e+01  4.055000e+01  2.612000e+01  2.420000e+01
       25%    8.242000e+01  4.696000e+01  3.444000e+01  3.456000e+01
       50%    8.738000e+01  5.337000e+01  3.992000e+01  3.728000e+01
       75%    9.194000e+01  6.074000e+01  4.548000e+01  4.918500e+01
       max    1.044200e+02  6.855000e+01  5.744000e+01  7.522000e+01
high   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   8.823717e+01  5.424330e+01  4.090481e+01  4.176388e+01
       std    6.930037e+00  7.684607e+00  8.026342e+00  1.137583e+01
       min    7.138000e+01  4.065000e+01  2.784000e+01  2.448000e+01
       25%    8.297500e+01  4.731000e+01  3.474000e+01  3.485000e+01
       50%    8.787000e+01  5.395000e+01  4.032000e+01  3.756000e+01
       75%    9.260000e+01  6.130300e+01  4.598000e+01  4.953000e+01
       max    1.047600e+02  6.898000e+01  5.744000e+01  7.681000e+01
low    count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   8.705173e+01  5.334085e+01  4.005771e+01  4.107603e+01
       std    6.972938e+00  7.510377e+00  7.866269e+00  1.125758e+01
       min    6.655000e+01  3.990000e+01  2.584000e+01  2.361000e+01
       25%    8.195000e+01  4.669000e+01  3.404000e+01  3.425005e+01
       50%    8.680000e+01  5.299000e+01  3.960000e+01  3.696000e+01
       75%    9.125500e+01  6.028500e+01  4.502000e+01  4.876250e+01
       max    1.039500e+02  6.829000e+01  5.660000e+01  7.465000e+01
close  count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   8.766845e+01  5.382188e+01  4.048681e+01  4.143409e+01
       std    6.959475e+00  7.599269e+00  7.949466e+00  1.131967e+01
       min    6.871000e+01  4.024000e+01  2.752000e+01  2.419000e+01
       25%    8.243500e+01  4.701500e+01  3.440000e+01  3.459000e+01
       50%    8.729000e+01  5.354000e+01  4.000000e+01  3.728000e+01
       75%    9.208500e+01  6.080500e+01  4.548000e+01  4.915500e+01
       max    1.043800e+02  6.858000e+01  5.728000e+01  7.566000e+01
volume count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   1.239922e+07  1.203440e+06  2.376838e+06  1.183141e+06
       std    4.691527e+06  9.465960e+05  1.389121e+06  6.490369e+05
       min    3.851283e+06  2.412020e+05  4.119940e+05  1.958830e+05
       25%    9.386381e+06  6.821840e+05  1.540381e+06  7.801970e+05
       50%    1.133568e+07  9.909100e+05  2.038198e+06  1.063287e+06
       75%    1.405114e+07  1.428327e+06  2.804430e+06  1.428822e+06
       max    4.470493e+07  1.928451e+07  1.796426e+07  1.002242e+07

Name                   YUM           ZBH          ZION           ZTS
open   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   7.542210e+01  1.055420e+02  3.216148e+01  4.509139e+01
       std    7.488521e+00  1.506004e+01  7.677662e+00  1.196303e+01
       min    5.989000e+01  7.259000e+01  2.010000e+01  2.848000e+01
       25%    7.043500e+01  9.611500e+01  2.748500e+01  3.280000e+01
       50%    7.411000e+01  1.058600e+02  2.927000e+01  4.561000e+01
       75%    8.038000e+01  1.173350e+02  3.260000e+01  5.148500e+01
       max    9.495000e+01  1.325100e+02  5.477000e+01  7.981000e+01
high   count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   7.602712e+01  1.064199e+02  3.250929e+01  4.548883e+01
       std    7.550618e+00  1.513039e+01  7.741718e+00  1.202887e+01
       min    6.025000e+01  7.335000e+01  2.023000e+01  2.857000e+01
       25%    7.093495e+01  9.690500e+01  2.780000e+01  3.305500e+01
       50%    7.461000e+01  1.069790e+02  2.950000e+01  4.604000e+01
       75%    8.114500e+01  1.181400e+02  3.287250e+01  5.192000e+01
       max    9.590000e+01  1.334900e+02  5.561000e+01  8.013000e+01
low    count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   7.484491e+01  1.046980e+02  3.180224e+01  4.466559e+01
       std    7.427339e+00  1.495609e+01  7.607014e+00  1.193122e+01
       min    5.957000e+01  7.224000e+01  1.965000e+01  2.813500e+01
       25%    6.966500e+01  9.512000e+01  2.719500e+01  3.250000e+01
       50%    7.365000e+01  1.049100e+02  2.899000e+01  4.505500e+01
       75%    7.962000e+01  1.163750e+02  3.226250e+01  5.095750e+01
       max    9.415000e+01  1.319000e+02  5.398000e+01  7.938000e+01
close  count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   7.545101e+01  1.056063e+02  3.217179e+01  4.509865e+01
       std    7.485003e+00  1.505270e+01  7.673401e+00  1.198139e+01
       min    5.970000e+01  7.238000e+01  1.990000e+01  2.840000e+01
       25%    7.022500e+01  9.607500e+01  2.750500e+01  3.283000e+01
       50%    7.410000e+01  1.059700e+02  2.923000e+01  4.562000e+01
       75%    8.047000e+01  1.173150e+02  3.246250e+01  5.129500e+01
       max    9.488000e+01  1.330900e+02  5.498000e+01  8.009000e+01
volume count  1.259000e+03  1.259000e+03  1.259000e+03  1.259000e+03
       mean   3.209032e+06  1.297144e+06  2.621178e+06  3.681878e+06
       std    2.217774e+06  7.703645e+05  1.402907e+06  2.965056e+06
       min    6.667050e+05  2.334500e+05  4.257290e+05  4.386320e+05
       25%    1.973342e+06  8.895725e+05  1.759096e+06  2.251372e+06
       50%    2.665015e+06  1.128269e+06  2.326445e+06  3.014964e+06
       75%    3.710812e+06  1.483897e+06  3.075904e+06  4.233920e+06
       max    3.679555e+07  1.239454e+07  1.568107e+07  3.962756e+07

[40 rows x 505 columns]

In [421]:

'''
If you want to do fetch data of two columns, you need to look at using the loc and iloc functions.
loc: label-based
iloc: integer position-based

'''

df=dfStock.loc[0:50000,['Name','date','close']]# filering out first 500k rows and three coulmns into df
#dataframe.filter(items, like, regex, axis); items and like are mutually excluisive

dfStock.filter(items=['Name','close']).query('Name =="AAL"')

     Name  close
0     AAL  14.75
1     AAL  14.46
2     AAL  14.27
3     AAL  14.66
4     AAL  13.99
...   ...    ...
1254  AAL  53.88
1255  AAL  52.10
1256  AAL  49.76
1257  AAL  51.18
1258  AAL  51.40

[1259 rows x 2 columns]

In [422]:
df.query('close == 52')
df.query('close > 52')

df.query('Name == "AAL"')

     Name       date  close
0     AAL 2013-02-08  14.75
1     AAL 2013-02-11  14.46
2     AAL 2013-02-12  14.27
3     AAL 2013-02-13  14.66
4     AAL 2013-02-14  13.99
...   ...        ...    ...
1254  AAL 2018-02-01  53.88
1255  AAL 2018-02-02  52.10
1256  AAL 2018-02-05  49.76
1257  AAL 2018-02-06  51.18
1258  AAL 2018-02-07  51.40

[1259 rows x 3 columns]

In [424]:
pd.crosstab(df["Name"],df.close).head()

close,1.62,1.66,1.67,1.70,1.71,1.72,1.73,1.74,1.75,1.76,...,1362.54,1377.95,1390.00,1402.05,1416.78,1417.68,1429.95,1437.82,1442.84,1450.89
Name,,,,,,,,,,,,,,,,,,,,,
AAL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAPL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABBV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [429]:
#mask = (df['InsertedDates'] > start_date) & (df['InsertedDates'] <= end_date)

df["date"].min(),df["date"].max(),len(df)

(Timestamp('2013-02-08 00:00:00'), Timestamp('2018-02-07 00:00:00'), 50001)

In [436]:

#df2=df[(df["date"] >'31/12/2015')] # & (df["date"] <= '10/01/2016')]
df2=df[(df["date"]>='2013-02-08') & (df["date"] <='2013-02-28')] 

df2
#df2=df.copy()


#df2.set_index("date",inplace=False)
#df2.loc[:'2013/02/08']

       Name       date  close
0       AAL 2013-02-08  14.75
1       AAL 2013-02-11  14.46
2       AAL 2013-02-12  14.27
3       AAL 2013-02-13  14.66
4       AAL 2013-02-14  13.99
...     ...        ...    ...
48914  ANSS 2013-02-22  76.38
48915  ANSS 2013-02-25  75.47
48916  ANSS 2013-02-26  74.53
48917  ANSS 2013-02-27  75.16
48918  ANSS 2013-02-28  75.80

[546 rows x 3 columns]

In [ ]:

fig,ax= plt.subplots(figsize=(10,10)) # returns a figure and a set of subplots 

#ts=pd.Series(df["close"],index=df["date"])
#ts.cumsum() - runnng total (row or column wise - axis 0 or axis 1)
df1=df.query('Name =="AAL"',inplace=False)
ax.plot(df1["date"],df1["close"],color="blue")

df2=df.query('Name =="SCG"',inplace=False)
ax.plot(df2["date"],df2["close"],color="green")
plt.show()

In [253]:
ax.set_prop_cycle(color=[
    '#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a',
    '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94',
    '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d',
    '#17becf', '#9edae5'])

names=df.Name.unique()[0:10]
fig,ax= plt.subplots(figsize=(10,10))

for i in names:
    ax.plot()